<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aplicacionps">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity android:name=".autobusInterior"></activity>
        <activity android:name=".EscenarioCasa" />
        <activity android:name=".elegirCamino" />
        <activity android:name=".ComoJugar" />
        <activity android:name=".Logros" />
        <activity android:name=".Jugar" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/SplashTheme"> <!-- AQUI SE LAMMA AL TEMA DE LA PANTALLA SPLASH -->

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>