<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aplicacionps">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity android:name=".Ajustes"></activity>
        <activity android:name=".pantallafinal" />
        <activity android:name=".colaparapagar" />
        <activity android:name=".superdentro" />
        <activity android:name=".superfuera" />
        <activity android:name=".DentroDeLaCalle" />
        <activity android:name=".irAndando" />
        <activity android:name=".autobusInterior" />
        <activity android:name=".EscenarioCasa" />
        <activity android:name=".elegirCamino" />
        <activity android:name=".ComoJugar" />
        <activity android:name=".Logros" />
        <activity android:name=".Jugar" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:theme="@style/SplashTheme"> <!-- AQUI SE LLAMA AL TEMA DE LA PANTALLA SPLASH -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service
            android:name=".AudioService"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name" />
    </application>

</manifest>